:root {
    --header-bg: #0063e6;
    --bg-body-page: #cccccc;
    --border-character: #eb1122;
    --bg-squirtle-1: #23f5f5;
    --bg-squirtle-2: #0fbdbd;
    --bg-squirtle-3: #077e7e;
    --bg-charmander-1: #fc7100;
    --bg-charmander-2: #b1560b;
    --bg-charmander-3: #924506;
    --bg-bulbasaur-1: #66fc48;
    --bg-bulbasaur-2: #34bd19;
    --bg-bulbasaur-3: #239c0b;
    --bg-pikachu-1: #ffe600;
    --bg-pikachu-2: #bdab09;
    --bg-pikachu-3: #a18a02;
    --border-card: #fefffe;
    --scrollbar-border: #fffe54;
    --bg-scrollbar-track: #3353b6;
    --bg-scrollbar-thumb: #eb3122;
}

/* UNIVERSAL TAG */
* {
    box-sizing: border-box;
}

/* TAG ELEMENT */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    cursor: url('../assets/cursor/pokeball-cursor.cur'), auto;
}

/* ID */
/* stile specifico per l'header della pagina */
#header {
    width: 100%;
    max-height: 300px;
    background: var(--header-bg);
    display: flex;
    justify-content: center;
}

/* stile specifico per il contenuto della pagina */
#body-page-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background: var(--bg-body-page);
}

/* CLASS */
/* stile specifico per il logo dell'header */
.logo {
    max-width: 300px;
}

.logo:hover {
    cursor: url('../assets/cursor/megaball-cursor.cur'), auto;
}

/* stile dell'header del body */
.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-header-wrapper {
    width: 350px;
}

.text-header-wrapper {
    display: flex;
    align-items: center;
    font-family: '8_bit', sans-serif;
}

/* stile delle carte */
/* stile del contenitore wrapper */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* stile generale delle carte */
.box-card {
    height: 430px;
    width: 300px;
    border: 3px solid var(--border-card);
    border-radius: 10px;
    padding: 10px 5px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* stili specifici delle carte */
.box-card {
    background: linear-gradient(45deg, var(--color-1), var(--color-2), var(--color-3));
}

.squirtle {
    --color-1: var(--bg-squirtle-1);
    --color-2: var(--bg-squirtle-2);
    --color-3: var(--bg-squirtle-3);
}

.charmander {
    --color-1: var(--bg-charmander-1);
    --color-2: var(--bg-charmander-2);
    --color-3: var(--bg-charmander-3);
}

.bulbasaur {
    --color-1: var(--bg-bulbasaur-1);
    --color-2: var(--bg-bulbasaur-2);
    --color-3: var(--bg-bulbasaur-3);
}

.pikachu {
    --color-1: var(--bg-pikachu-1);
    --color-2: var(--bg-pikachu-2);
    --color-3: var(--bg-pikachu-3);
}

/* stile testo dei nomi dei pokemon */
.name-pokemon-card {
    font-family: 'Pixel_Sans_Serif_Regular', sans-serif;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* stile dell'energia accanto al pokemon */
.energy-pokemon {
    width: 50px;
    margin: 0;
    padding: 0;
}

.name-pokemon-card,
.energy-pokemon {
    margin: 5px;
}

/* stile generale delle immagini delle carte */
.card-img {
    padding: 5px;
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    border: 1px solid #0000007c;
    background: #0000007c;
}

.box-card:hover {
    cursor: url('../assets/cursor/ultraball-cursor.cur'), auto;
}

/* stile per le mosse delle carte dei pokemon */
.body-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.attack-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pixel_Sans_Serif_Regular', sans-serif;
    font-size: 12px;
    margin: 0 5px;
}

.energy-cost {
    display: flex;
    align-items: center;
}

.energy-icon {
    width: 40px;
}

/* stile generale per il footer della carta */
.footer-card {
    display: flex;
    flex-direction: column;
}

/* stile specifico per le statistiche dei pokemon */
.stats {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-family: 'Pixel_Sans_Serif_Regular', sans-serif;
    font-size: 10px;
    margin: 5px;
    gap: 4px;
}

.stats img {
    width: 32px;
}

.stats::after {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background: #000;
    left: 50%;
    transform: translateX(-50%);
    
}

.weakness,
.retrat {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/* stile specifico per le informazioni delle carte */
.info-collection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: 'Pixel_Sans_Serif_Regular', sans-serif;
    font-size: 8px;
    margin: 5px;
}

/* SCROLBAR CSS */
/* stile specifico per la scroll bar del sito */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    cursor: url('../assets/cursor/pokeball-cursor.cur'), auto;
    background: var(--bg-scrollbar-thumb);
    border: 1px solid var(--scrollbar-border);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    cursor: url('../assets/cursor/pokeball-cursor.cur'), auto;
    background: var(--bg-scrollbar-track);
}

/* RULE FONT-FACE CSS PER I FONT DEL SITO */
/* FONT FACE 1 */
@font-face {
    font-family: '8_bit';
    src: url('../assets/font/8-bit-font/8-bit-font.woff');
}

/* FONT FACE 2 */
@font-face {
    font-family: 'Pixel_Sans_Serif_Regular';
    src: url('../assets/font/Pixel-Sans-Serif-Regular/Pixel-Sans-Serif-font.ttf');
}
